.footer {
  @include flex(column);
  gap: 0.7em;
  background: $color-gradient;
  padding: 1.5em;
  width: 100%;
}

.hp-footer-upper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6em;
}

.hp-footer-ul {
  @include flex(row, space-between);
  gap: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hp-footer-li {
  font-size: 1em;
  color: $white;
  p {
    margin: 0;
  }
  &:has(.hp-footer-logo) {
    height: 2.5em;
  }
}

.hp-footer-logo {
  height: 100%;
}

.hp-footer-link {
  text-decoration: underline;
  color: $white;
}

.hp-footer-link:visited {
  color: $white;
}

.footer-copyright {
  font-size: 0.875em;
  line-height: 1em;
  color: $white;
}

@media (max-width: 768px) {
  .hp-footer-upper {
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .hp-footer-ul {
    flex-direction: column;
    gap: 0.5em;
  }
}
