.footer {
  @include flex(column);
  background: $color-gradient;
  padding: 2em 0;
  width: 100%;
}

.footer-copyright {
  font-size: 0.875em;
  color: $white;
}

.hp-footer-upper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6em;
}

.hp-footer-ul {
  @include flex(row, space-between);
  gap: 2em;
  list-style: none;
  padding: 0;
}

.hp-footer-li {
  font-size: 1em;
  color: $white;
  p {
    margin: 0;
  }
}

.hp-footer-logo {
  height: 2.5em;
}

.hp-footer-link {
  text-decoration: underline;
  color: $white;
}

.hp-footer-link:visited {
  color: $white;
}
