@import "../../styles/global-styles";

.footer {
  @include flex(column);
  background: linear-gradient(100deg, var(--primary), var(--lime-green));
  padding: 1em 0;
  width: 100%;
}

.hp-footer-lower {
  font-size: 0.875em;
  color: var(--white);
}
