@import "../../../styles/global-styles";

.hp-footer {
  @include flex(column);
  background: linear-gradient(100deg, var(--primary), var(--lime-green));
  padding: 1em 0;
  width: 100%;
}

.hp-footer-upper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6em;
}

.hp-footer-lower {
  font-size: 0.7em;
  color: var(--white);
}

.hp-footer-ul {
  @include flex(row, space-between);
  gap: 2em;
  list-style: none;
  padding: 0;
}

.hp-footer-li {
  font-size: 1em;
  color: var(--white);
  p {
    margin: 0;
  }
}

.hp-footer-logo {
  height: 1.8em;
}

.hp-footer-link {
  text-decoration: underline;
  color: var(--white);
}

.hp-footer-link:visited {
  color: var(--white);
}
