@import "../../../styles/global-styles";

.nav-link {
  width: fit-content;
  list-style: none;
  padding: 0.32em 1em;
  border-radius: 0.9em;
  color: var(--primary);
  background-color: var(--light-primary);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.nav-link:hover {
  filter: brightness(75%);
}

.nav-link:active {
  transform: scale(0.93);
}
