$color-primary: #0099cc;
$color-primary-light: #0099cc30;
$color-secondary: #66cc99;
$color-secondary-light: #66cc9930;
$color-warning: #ff0000;

$default-font-color: #999999;
$white: #ffffff;
$black: #000000;

$color-gradient: linear-gradient(to right, $color-primary, $color-secondary);
