.doctors-page {
  padding: 2em 0;
  @include flex(row, center, stretch);
  gap: 10em;
}

.doctors-title {
  font-size: 1.3em;
  font-weight: 400;
  color: $color-primary;
  text-decoration: underline;
  margin: 0;
}

.doctors-doctors {
  @include flex(column, flex-start);
  gap: 2em;
}

@media (max-width: 1024px) {
  .doctors-page {
    gap: 8em;
  }
  .doctors-title {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .doctors-page {
    padding: 1em 0;
    gap: 5em;
  }
}

@media (max-width: 650px) {
  .doctors-page {
    @include flex(column, flex-start);
    gap: 3em;
    padding: 0;
  }
  .doctors-title {
    @include flex(row, flex-start);
    width: 100%;
  }
  .doctors-doctors {
    gap: 1em;
  }
}
