.slide-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8em;
  width: fit-content;
  margin: auto;
}

.slide-section {
  @include flex(column, space-between);
  gap: 1em;
  height: 100%;
  > div {
    @include flex(column, flex-start, stretch);
    height: 100%;
  }
  h2 {
    margin: 0;
    margin-bottom: 0.75em;
    font-weight: 400;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .slide-wrapper {
    gap: 5em;
  }
}

@media screen and (max-width: 768px) {
  .slide-section {
    gap: 2em;
  }
  .slide-wrapper {
    grid-template-columns: unset;
    gap: 3em;
  }
}
