.visit-summary-page {
  @include flex(column);
}

.visit-summary-right-content {
  @include flex(column);
  gap: 2em;
  width: 100%;
  p {
    width: 14em;
    text-align: center;
    a,
    a:visited,
    span {
      color: $color-primary;
      text-decoration: none;
    }
  }
  i {
    @include fa-icon-regular($fa-var-circle-check);
    font-size: 6em;
    color: $color-secondary;
  }
}

@media (max-width: 768px) {
  .visit-summary-page {
    > div {
      @include flex(column-reverse);
      gap: 1.5em;
      margin-top: 0;
      margin-bottom: 3em;
      > section {
        > div {
          gap: 1em;
          > div {
            @include flex(column);
          }
        }
      }
      > section:nth-child(2) {
        > div {
          > h2 {
            width: 75%;
            margin: auto;
            font-size: 2.2em;
          }
        }
      }
      > section:nth-child(1) {
        > div {
          > h2 {
            font-size: 1.6em;
            margin: 0;
          }
        }
      }
    }
  }
  .visit-summary-right-content {
    gap: 0.5em;
  }
}
