@import "../../styles/global-styles";

.nav {
  @include flex;
  gap: 5em;
  padding: 0.5em 0;
  box-shadow: 0px -6px 10px 2px rgba(66, 68, 90, 1);
}

.nav-hp {
  @include flex;
  gap: 5em;
  padding: 0.5em 0;
  background-color: transparent;
}

.nav-logo {
  height: 3.5em;
}

.nav-ul {
  @include flex;
  gap: 0.5em;
  list-style: none;
}

.nav-btn {
  width: fit-content;
  padding: 0.5em 3.2em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 1em;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: darken(#0099cc, 10%);
  }
}

.nav-btn-hp {
  color: var(--lime-green);
  background-color: var(--white);
  &:hover {
    background-color: darken(#ffffff, 10%);
  }
}
