@import "react-calendar/dist/Calendar.css";

.react-calendar {
  width: fit-content;
  padding: 0.5em;
  border: none;
}

.react-calendar__navigation {
  margin: 0;
}

.react-calendar__navigation .react-calendar__navigation__arrow {
  border-radius: 50%;
  background-color: #0099cc30;
  color: #0099cc;
  font-size: 2em;
  padding: 0;
}

.react-calendar__navigation .react-calendar__navigation__arrow,
.react-calendar__navigation .react-calendar__navigation__arrow {
  min-width: initial;
  height: 0.85em;
  width: 0.85em;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0099cc30;
  color: #0099cc;
}

.react-calendar__navigation .react-calendar__navigation__arrow:enabled:hover,
.react-calendar__navigation .react-calendar__navigation__arrow:enabled:focus {
  background-color: #0099cc45;
}

.react-calendar__navigation .react-calendar__navigation__next2-button,
.react-calendar__navigation .react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__label {
  text-transform: capitalize;
  font-size: 1.1em;
  color: #999999;
}

.react-calendar__navigation .react-calendar__navigation__label:enabled:hover,
.react-calendar__navigation .react-calendar__navigation__label:enabled:focus {
  background-color: white;
}

.react-calendar__month-view__weekdays {
  padding-bottom: 0.5em;
}

abbr[title] {
  text-decoration: none;
  text-transform: capitalize;
  color: #999999;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.7em;
}

.react-calendar__tile {
  box-sizing: border-box;
  flex: 0 0 auto !important;
  margin: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  background-color: #99999920;
  color: #999999;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #66cc9950;
  color: #66cc99;
}

.react-calendar__tile--active:hover {
  background-color: #66cc9950;
  color: #66cc99;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #99999950;
  background-color: #99999910;
}
