.doctor-img {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 9em;
  height: 9em;
  border-radius: 50%;
}

.visit-info-wrapper {
  width: fit-content;
  @include flex(column, flex-start, stretch);
  gap: 0.7em;
}

.visit-feature,
.visit-name {
  width: 100%;
  img {
    width: 0.9em;
  }
  @include flex(row, flex-start);
  gap: 0.5em;
}

.visit-feature {
  width: 100%;
  justify-content: flex-start;
  p {
    font-size: 0.9em;
    color: $default-font-color;
    margin: 0;
    letter-spacing: -0.04em;
  }

  .visit-feature--icon {
    font-size: 0.9em;
  }

  .visit-feature--icon__calendar {
    @include fa-icon-solid($fa-var-calendar);
  }

  .visit-feature--icon__stethoscope {
    @include fa-icon-solid($fa-var-stethoscope);
  }

  .visit-feature--icon__briefcase {
    @include fa-icon-solid($fa-var-briefcase);
  }

  .visit-feature--icon__money {
    @include fa-icon-solid($fa-var-money-bills);
  }
}

.visit-name {
  h5 {
    text-align: left;
    margin: 0;
    font-size: 1em;
  }

  .visit-name--visit-icon {
    @include fa-icon-solid($fa-var-user-doctor);
  }

  .visit-name--visit-icon,
  h5 {
    color: $color-primary;
  }
}

@media (max-width: 1024px) {
  .doctor-img {
    width: 8em;
    height: 8em;
  }
  .visit-feature,
  .visit-name {
    img {
      width: 0.85em;
    }
  }
  .visit-feature {
    p {
      font-size: 0.85em;
    }
    .visit-feature--icon {
      font-size: 0.85em;
    }
  }
  .visit-name {
    h5 {
      font-size: 0.95em;
    }
  }
}

@media (max-width: 650px) {
  .doctor-img-hide {
    display: none;
  }
  .doctor-img {
    width: 6.5em;
    height: 6.5em;
  }
  .visit-feature,
  .visit-name {
    img {
      width: 0.75em;
    }
  }
  .visit-info-wrapper {
    gap: 0.475em;
  }
  .visit-feature {
    align-items: flex-start;
    p {
      font-size: 0.75em;
    }
    .visit-feature--icon {
      padding-top: 0.2em;
      font-size: 0.7em;
    }
  }
  .visit-name {
    h5 {
      font-weight: 400;
      font-size: 0.85em;
    }
  }
}
