.doctor-img {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 9em;
  height: 9em;
  border-radius: 50%;
}

.visit-info-wrapper {
  width: fit-content;
  @include flex(column, flex-start, stretch);
  gap: 0.7em;
}

.visit-feature,
.visit-name {
  width: 100%;
  img {
    width: 0.9em;
  }
  @include flex(row, flex-start);
  gap: 0.5em;
}

.visit-feature {
  width: 100%;
  justify-content: flex-start;
  p {
    font-size: 0.9em;
    color: $default-font-color;
    margin: 0;
    letter-spacing: -0.04em;
  }

  .visit-feature--icon {
    font-size: 0.9em;
  }

  .visit-feature--icon__calendar {
    @include fa-icon-solid($fa-var-calendar);
  }

  .visit-feature--icon__stethoscope {
    @include fa-icon-solid($fa-var-stethoscope);
  }

  .visit-feature--icon__briefcase {
    @include fa-icon-solid($fa-var-briefcase);
  }

  .visit-feature--icon__money {
    @include fa-icon-solid($fa-var-money-bills);
  }
}

.visit-name {
  h5 {
    text-align: left;
    margin: 0;
    font-size: 1em;
  }

  .visit-name--visit-icon {
    @include fa-icon-solid($fa-var-user-doctor);
  }

  .visit-name--visit-icon,
  h5 {
    color: $color-primary;
  }
}
