.contact-page {
  @include flex(column);
  height: 100%;
  width: fit-content;
  gap: 1.5em;
}

.contact-page-title {
  color: var(--gray);
  font-weight: 300;
  font-size: 1.5em;
  width: 100%;
  margin: 0;
}

.contact-page-content {
  width: 100%;
  @include flex(row, flex-start);
  gap: 6em;
  padding: 0 1em;
  padding-bottom: 1.25em;
}

.contact-page-map {
  border: 0;
  width: 45em;
  height: 15em;
}
